.loading-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #000000ff 0%, #2a2320ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s;
}

.loading-gradient {
  font-size: 4rem;
  font-weight: bold;
  margin: 0.5rem 0;
  background: linear-gradient(90deg, #ff5e00 0%, #ffb300 50%, #e69303 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.1em;
  text-align: center;
  will-change: transform, opacity;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #111111 0%, #61564e 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s;
}

.loading-text {
  color: #fff;
  text-shadow: 0 2px 16px #ea580c;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0.5rem 0;
  will-change: transform, opacity;
  /* text-shadow: 0 2px 16px #0ea5e9; */
}
/* 
.loading-text-secondary {
  color: #fbbf24;
  font-size: 2rem;
  opacity: 0;
  text-shadow: 0 2px 12px #f59e42;
} */
